<app-search></app-search>
<!-- <div class="container-fluid px-5 py-5 mx-auto">
    <h2>Sorted Data for: {{selectedCategory}}</h2>
    <div class="row justify-content-between px-3">
        <div class="block text-center" *ngIf="selectedCategory=='Laptops'"> <img class="image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png">
            <div class="info py-2 px-2">
                <div class="row px-3">
                    <div class="cart">
                        <p class="mb-0 sm-font">ADD TO BAG</p>
                    </div>
                    <div class="order">
                        <p class="mb-0 sm-font">ORDER NOW</p>
                    </div>
                </div>
                <div class="text-left">
                    <h5 class="mb-0 mt-2">Hangup Trend</h5> <small class="text-muted mb-1">Men's Stylish Designed Shirt</small>
                </div>
                <div class="row px-3">
                    <h5>Rs.419</h5>
                    <p class="text-muted ml-2"><del>Rs.799</del></p>
                </div>
            </div>
        </div>
        <div class="block text-center" *ngIf="selectedCategory=='Laptops'"> <img class="image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png">
            <div class="info py-2 px-2">
                <div class="row px-3">
                    <div class="cart">
                        <p class="mb-0 sm-font">ADD TO BAG</p>
                    </div>
                    <div class="order">
                        <p class="mb-0 sm-font">ORDER NOW</p>
                    </div>
                </div>
                <div class="text-left">
                    <h5 class="mb-0 mt-2">Hangup Trend</h5> <small class="text-muted mb-1">Men's Stylish Designed Shirt</small>
                </div>
                <div class="row px-3">
                    <h5>Rs.419</h5>
                    <p class="text-muted ml-2"><del>Rs.799</del></p>
                </div>
            </div>
        </div>
        <div class="block text-center" *ngIf="selectedCategory=='Mobiles'"> <img class="image" src="https://i.imgur.com/5Aqgz7o.jpg">
            <div class="info py-2 px-2">
                <div class="row px-3">
                    <div class="cart">
                        <p class="mb-0 sm-font">ADD TO BAG</p>
                    </div>
                    <div class="order">
                        <p class="mb-0 sm-font">ORDER NOW</p>
                    </div>
                </div>
                <div class="text-left">
                    <h5 class="mb-0 mt-2">Hangup Trend</h5> <small class="text-muted mb-1">Men's Stylish Designed Shirt</small>
                </div>
                <div class="row px-3">
                    <h5>Rs.419</h5>
                    <p class="text-muted ml-2"><del>Rs.799</del></p>
                </div>
            </div>
        </div>
        <div class="block text-center" *ngIf="selectedCategory=='Mobiles'"> <img class="image" src="https://i.imgur.com/Aj0L4Wa.jpg">
            <div class="info py-2 px-2">
                <div class="row px-3">
                    <div class="cart">
                        <p class="mb-0 sm-font">ADD TO BAG</p>
                    </div>
                    <div class="order">
                        <p class="mb-0 sm-font">ORDER NOW</p>
                    </div>
                </div>
                <div class="text-left">
                    <h5 class="mb-0 mt-2">Hangup Trend</h5> <small class="text-muted mb-1">Men's Stylish Designed Shirt</small>
                </div>
                <div class="row px-3">
                    <h5>Rs.419</h5>
                    <p class="text-muted ml-2"><del>Rs.799</del></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between px-3">
        <div class="block text-center" *ngIf="selectedCategory=='TVs'"> <img class="image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924221/51_be7qfhil.jpg">
            <div class="info py-2 px-2">
                <div class="row px-3">
                    <div class="cart">
                        <p class="mb-0 sm-font">ADD TO BAG</p>
                    </div>
                    <div class="order">
                        <p class="mb-0 sm-font">ORDER NOW</p>
                    </div>
                </div>
                <div class="text-left">
                    <h5 class="mb-0 mt-2">Hangup Trend</h5> <small class="text-muted mb-1">Men's Stylish Designed Shirt</small>
                </div>
                <div class="row px-3">
                    <h5>Rs.419</h5>
                    <p class="text-muted ml-2"><del>Rs.799</del></p>
                </div>
            </div>
        </div>
        <div class="block text-center" *ngIf="selectedCategory=='TVs'"> <img class="image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924221/51_be7qfhil.jpg">
            <div class="info py-2 px-2">
                <div class="row px-3">
                    <div class="cart">
                        <p class="mb-0 sm-font">ADD TO BAG</p>
                    </div>
                    <div class="order">
                        <p class="mb-0 sm-font">ORDER NOW</p>
                    </div>
                </div>
                <div class="text-left">
                    <h5 class="mb-0 mt-2">Hangup Trend</h5> <small class="text-muted mb-1">Men's Stylish Designed Shirt</small>
                </div>
                <div class="row px-3">
                    <h5>Rs.419</h5>
                    <p class="text-muted ml-2"><del>Rs.799</del></p>
                </div>
            </div>
        </div>
        <div class="block text-center" *ngIf="selectedCategory=='Laptops'"> <img class="image" src="https://i.imgur.com/rwdD8hv.png">
            <div class="info py-2 px-2">
                <div class="row px-3">
                    <div class="cart">
                        <p class="mb-0 sm-font">ADD TO BAG</p>
                    </div>
                    <div class="order">
                        <p class="mb-0 sm-font">ORDER NOW</p>
                    </div>
                </div>
                <div class="text-left">
                    <h5 class="mb-0 mt-2">Hangup Trend</h5> <small class="text-muted mb-1">Men's Stylish Designed Shirt</small>
                </div>
                <div class="row px-3">
                    <h5>Rs.419</h5>
                    <p class="text-muted ml-2"><del>Rs.799</del></p>
                </div>
            </div>
        </div>
        <div class="block text-center" *ngIf="selectedCategory=='Laptops'"> <img class="image" src="https://i.imgur.com/hABF8A4.png">
            <div class="info py-2 px-2">
                <div class="row px-3">
                    <div class="cart">
                        <p class="mb-0 sm-font">ADD TO BAG</p>
                    </div>
                    <div class="order">
                        <p class="mb-0 sm-font">ORDER NOW</p>
                    </div>
                </div>
                <div class="text-left">
                    <h5 class="mb-0 mt-2">Hangup Trend</h5> <small class="text-muted mb-1">Men's Stylish Designed Shirt</small>
                </div>
                <div class="row px-3">
                    <h5>Rs.419</h5>
                    <p class="text-muted ml-2"><del>Rs.799</del></p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid px-5 py-5 mx-auto">
    <h2>Dynamic Data</h2>
    <div class="row justify-content-between px-3" *ngFor="let product of products">
        <div class="block text-center"> <img class="image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png">
            <div class="info py-2 px-2">
                <div class="row px-3">
                    <div class="cart">
                        <p class="mb-0 sm-font">ADD TO BAG</p>
                    </div>
                    <div class="order">
                        <p class="mb-0 sm-font">ORDER NOW</p>
                    </div>
                </div>
                <div class="text-left">
                    <h5 class="mb-0 mt-2">{{product.ProductName}}</h5> <small class="text-muted mb-1">{{product.Description}}</small>
                </div>
                <div class="row px-3">
                    <h5>Rs.{{product.UnitPrice}}</h5>
                    <!-- <p class="text-muted ml-2"><del>Rs.799</del></p> -->
                </div>
            </div>
        </div> 
</div>