 <div class="bg-light border-right" id="sidebar-wrapper">      
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Mobiles</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Laptops</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">TVs</a>
       
      </div>
    </div>

    <!-- <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
          <a (click)="newMessage('Mobiles')" class="list-group-item list-group-item-action bg-light">Mobiles</a>
          <a (click)="newMessage('Laptops')" class="list-group-item list-group-item-action bg-light">Laptops</a>
          <a (click)="newMessage('TVs')" class="list-group-item list-group-item-action bg-light">TVs</a>     
        </div>
      </div> -->